
// ------------- colors background -------------

$background-gray: #F6F5F2;   
$background-white: #FFFFFF;   
$background-violet: #271C47;  

// ------------- buttons background -------------

$button-blue: #3442B5;    
$button-yellow: #F7CA11;  


// ---------- Tipografia ------------------------

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Outfit', sans-serif;
$font-tertiary: 'Work Sans', sans-serif;


// ----------- font-size ------------------------

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 30px;

// ---------- color fonts ----------------------

$text-primary: #3F3F40; 
$text-secondary: #9F9F9F;
$subtitle-color: #3442B5;   
$text-inverse: #FFFFFF;


// #9F9F9F nav header
// #222222B5  nav footer

