
@mixin flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

@mixin flex-columns {
  display: flex;
  flex-direction: column;
  
}

@mixin flex-row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

@mixin flex-column-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}






